<p>
  ---
</p>
<p>
  <%# Link-text honesty: display text must name the actual link target. %>
  <%# "DocuSeal" is plain text; only "DocuSeal" is linked, to docuseal.com. %>
  Sent from DocuSeal and powered by <a href="<%= Docuseal::PRODUCT_URL %>">DocuSeal</a>
</p>
